/* =============
    Heroes
============= */
.hero{
    height: 50vh;
    background-size: cover;
    background-position: center;
    // margin-top: 74px;

    @include md{
        height: 60vh;
        // margin-top: 125px;
    }

    @include lg{
        height: 70vh;
    }

    @include xl{
        height: 85vh;
    }
}

#hero{
    background-image: url("../img/hero/hero.jpg");
}

#hero-2{
    background-image: url("../img/hero-2/hero.jpg");
    margin-top: 0px;
    background-position: 60% center;

    @include xl{
        background-position: center top;
    }
}

