/* =============
    Base
============= */

html {
    scroll-behavior: smooth;
  }

.scroll-offset{
    //   this is the offset magic
    scroll-margin-top: 60px;
}

.show-md{
    display: none;
    @include md{
        display: block;
    }
}

.show-lg{
    display: none;
    @include lg{
        display: block;
    }
}

ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
    }
}


/* =============
    Fancy Apps
============= */

.fancybox__container {
    --fancybox-bg: rgb(34 34 34 / 95%);
}