/* =============
    Base
============= */

.show-md{
    display: none;
    @include md{
        display: block;
    }
}

.show-lg{
    display: none;
    @include lg{
        display: block;
    }
}

ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
    }
}
